.nav-bar {
  display: flex;
  padding: 2rem;
  align-items: center;
  // position: fixed;
  // top: 0px;
  // left: 0;
  // width: 100%;

  .bold {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #000;
    display: inline-block;
  }
  
  .left a[data-active="true"] {
    color: gray;
  }
  
  a + a {
    margin-left: 1rem;
  }
  
  .right {
    margin-left: auto;
    a {
      border: 1px solid black;
      padding: 0.5rem 1rem;
      border-radius: 3px;
    }
  }
  
  button {
    border: none;
  }
}