.card-company {
  .company {
    background: white;
    transition: box-shadow 0.1s ease-in;
    color: inherit;
    padding: 2rem;

    &:hover {
      box-shadow: 1px 1px 3px #aaa;
    }

    margin-top: 2rem;
  }
}